	.relWrapper {
		border: 2px solid #000000;
		display: inline-block;
		margin: 10px;
	}

	.labelImg {
		display: inline-block;
		margin: 5px;
		border: 1px solid #000000;
	}

	img {
		width: 200px;
	}

	.relText {
		width: 200px;
		margin: 5px;
		font-family: helvetica, arial, "sans serif";
		font-size: 15px;
		font-weight: bold;
		text-align: center;
	}

	p {
		margin: 7px;
	}